<%- include("../layouts/userHeader") %>

    <main class="main">
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <div class="alert alert-success text-center py-4" role="alert">
                            <h4 class="alert-heading">Order Placed Successfully!</h4>
                            <p>Thank you for your purchase. Your order has been successfully placed.</p>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="/user/shop" class="btn btn-sm mx-2">Continue Shopping</a>
                            <a href="/user/accountdetails" class="btn btn-sm mx-2">View Orders</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include("../layouts/userFooter") %>