body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    margin-left: 50px;
    width: 30%;
    max-width: 600px; /* Adjust the max-width as needed */
    margin: 0 auto;
    padding-top: 20px;
}

.form-control {
    width: 100%;
    max-width: 900px;
}


.signup-text {
    font-size: 24px;
    font-weight: bold;
}

.or-text {
    font-size: 18px;
    font-weight: bold;
}